.room {
  display: flex;
  flex-direction: column;
  width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
}

.room__headline {
  margin: 0 auto 16px;
}

.room__userHeadline {
  width: 100%;
  margin: 24px auto 16px;
}

.room__user {
  display: flex;
  align-items: center;
  height: 72px;
  background: #eee;
  border-radius: 9999px;
  margin: 0 0 8px;
}

.room__user--icon {
  width: 72px;
  height: 72px;
  border-radius: 9999px;
  margin: 0 16px 0 0;
  overflow: hidden;
}

.room__user--icon--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room__user--info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.room__user--info--gender {
  grid-column: 1;
  grid-row: 1;
}

.room__user--info--name {
  grid-column: 2;
  grid-row: 1;
}

.room__user--info--support {
  display: flex;
  grid-column: 1/3;
  grid-row: 2;
}

.room__user--dummy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #fff;
  background: #ccc;
  margin: 0 8px 0 auto;
  padding: 0 16px;
  border-radius: 9999px;
}

.room__user--done {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: tomato;
  background: #fff;
  border: 1px solid tomato;
  margin: 0 8px 0 auto;
  padding: 0 16px;
  border-radius: 9999px;
}
.room__user--done--on {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #fff;
  background: tomato;
  border: 1px solid tomato;
  margin: 0 8px 0 auto;
  padding: 0 16px;
  border-radius: 9999px;
}

.room__searching {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  border: 1px solid #ccc;
  border-radius: 9999px;
}

.room__exit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  margin: auto auto 0;
  padding: 16px 48px;
  border-radius: 9999px;
}
